<div class="container">

  <h1>Note</h1>

  <Textarea @value={{model.content}} maxlength={{model.MAX}} class="form-control"/>
  <div class="alert alert-info">
    Nombre de caractère: {{model.size}}
  </div>
  <button class="btn btn-primary" {{action "save" model}}>Enregistrer</button>
  <button class="btn btn-primary" {{action "clear" model}}>Effacer</button>

  {{#if model.alertVisible}}
    <div class="alert{{model.style}}">{{model.style}}</div>
  {{/if}}

  {{outlet}}

</div>
